
/* Pastel TTY Colors */
@define-color background #212121;
@define-color background-light #3a3a3a;
@define-color foreground #e0e0e0;
@define-color black #5a5a5a;
@define-color red #ff9a9e;
@define-color green #b5e8a9;
@define-color yellow #ffe6a7;
@define-color blue #a5d8ff;
@define-color magenta #dda0dd;
@define-color cyan #a3e8e8;
@define-color white #ffffff;
@define-color orange #ffbb8a;


/* Module-specific colors */
@define-color workspaces-color @foreground;
@define-color workspaces-focused-bg @blue;
@define-color workspaces-focused-fg @black;
@define-color workspaces-urgent-bg @red;
@define-color workspaces-urgent-fg @black;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: monospace;
    font-size: 14px;
}

window#waybar {
    background-color: @blue;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}



.modules-left {
	background-color: @background;
	padding: 0px 0px 0px 0px;
}


.modules-right {
	background-color: @background;
	padding: 0px 5px 0px 0px;
}


window#waybar.hidden {
    opacity: 0.2;
}


button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}


#workspaces button {
    padding: 0 8px;
    background-color: transparent;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: @blue;
    color: @black;
}

#workspaces button.urgent {
    background-color: @workspaces-urgent-bg;
}

#mode {
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @foreground;
}


#window {
    background-color: @blue;
    color: @black;
    margin: 0px;
}
