" DOCUMENTATION
"" Source your .vimrc
" :source ~/.ideavimrc
"" See all available commands
" :actionlist

set scrolloff=5
set incsearch
set hlsearch
nnoremap <esc> :noh<return><esc>
set linenumber
set highlightedyank
set showmode
set showcmd
set visualbell
set clipboard+=unnamed
set relativenumber
set number
set ignorecase
set smartcase
set easymotion
set surround
set commentary
set NERDTree
set which-key
set notimeout
" set sneak

inoremap <C-j> <Action>(PopupMenu-selectNext)
inoremap <C-k> <Action>(PopupMenu-selectPrev)
nmap ; :
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
vnoremap < <gv
vnoremap > >gv

" map ESC to jk
inoremap jk <esc>
vnoremap jk <esc>
let mapleader = " "
" yank to clipboard
set clipboard+=unnamed
set idearefactormode=keep
" these create newlines like o and O but stay in normal mode
nmap zj o<Esc>k
nmap zk O<Esc>j

nmap <leader>fo <action>(RecentFiles)
"nmap <leader>m <action>(RecentFiles)
"nmap <leader>ff <action>(GotoClass)
"vmap <leader>ff <action>(GotoClass)
nmap <leader>ff <action>(SearchEverywhere)
vmap <leader>ff <action>(SearchEverywhere)
nmap <leader>fa <action>(GotoAction)
vmap <leader>fa <action>(GotoAction)
nmap <leader>fw <action>(FindInPath)
vmap <leader>fw <action>(FindInPath)
nmap <leader>fg <action>(FindInPath)
vmap <leader>fg <action>(FindInPath)
nmap [d <action>(MethodUp)
nmap ]d <action>(MethodDown)
nmap <leader>/ <action>(CommentByLineComment)
vmap <leader>/ <action>(CommentByLineComment)
nmap <leader>fe <action>(ExtractFunction)
vmap <leader>fe <action>(ExtractFunction)
nmap <leader>gb <action>(Annotate)
nmap <leader>gt <action>(RecentChangedFiles)
nmap <leader>x <action>(CloseEditor)

" Special commands for Android Studio
nmap <leader>db <action>(ToggleLineBreakpoint)
nmap <leader>p <action>(ShowSettings)
nmap <leader>a <action>(HideAllWindows)
nmap <leader>rr <action>(Run)
nmap <leader>rd <action>(Debug)
nmap <leader>rs <action>(Stop)
nmap <leader>m <action>(ShowPopupMenu)

nmap gd <action>(GotoDeclarationOnly)
"nmap <leader>d <action>(GotoDeclaration)
nmap gD <action>(GotoTypeDeclaration)
"nmap <leader>D <action>(GotoTypeDeclaration)
nmap gr <action>(GotoDeclaration)
"nmap <leader>u <action>(FindUsages)
nmap gi <action>(GotoImplementation)
nmap gs <action>(GotoSuperMethod)
"nmap <leader>i <action>(GotoImplementation)
nmap gK <action>(QuickImplementations)
nmap T <action>(QuickImplementations)
"nmap <leader>; <action>(QuickJavaDoc)
"nmap <leader>t <action>(ExpressionTypeInfo)
nmap [d <action>(GotoPreviousError)
nmap ]d <action>(GotoNextError)
"nmap gt <action>(GotoTest)
nmap s <action>(flash.search)


nmap <leader>\ <action>(SelectInProjectView)
vmap <leader>\ <action>(SelectInProjectView)
"nmap <leader>e <action>(GotoNextError)
"nmap <leader>f <action>(SelectInProjectView)

nmap <leader>fm <action>(ReformatCode)
"nmap <leader>z <action>(ReformatCode)
nmap <leader>rn <action>(RenameElement)
"nmap <leader>ra <action>(RenameElement)
"nmap <leader>c <action>(RenameElement)

"nmap <leader>n <action>(PrevSplitter)
"nmap <leader>h <action>(Back)
"nmap <leader>l <action>(Forward)
"nmap <leader>j <action>(PreviousTab)
"nmap <leader>k <action>(NextTab)

nmap <leader>h <action>(Back)
nmap <leader>l <action>(Forward)
nmap <leader>j <action>(PreviousTab)
nmap <leader>k <action>(NextTab)
nmap H <action>(Back)
nmap L <action>(Forward)
nmap J <action>(PreviousTab)
nmap K <action>(NextTab)

"nmap <leader>, <action>(GotoClass)
nmap <leader>y <action>(CollapseRegion)
nmap <leader>o <action>(ExpandRegion)
nmap <leader>q <action>(GotoTest)

nmap <C-w>s <action>(SplitHorizontally)
nmap <leader>s <action>(SplitHorizontally)
"nmap <leader>ws <action>(SplitHorizontally)
nmap <C-w>v <action>(SplitVertically)
nmap <leader>v <action>(SplitVertically)
"nmap <leader>wv <action>(SplitVertically)
"nmap <C-w>o <action>(CloseAllTabsInGroup)
nmap <C-w>o <action>(CloseEditorsGroup)
nmap <leader>o <action>(CloseEditorsGroup)

 nmap <leader>wd <action>(ToggleDistractionFreeMode)
 nmap <leader>wz <action>(ToggleZenMode)

"nmap <A-a> <action>(HideAllWindows)
nmap <C-i> <action>(NextSplitter)
nmap <C-m> <action>(PrevSplitter)
"nmap <leader>ff <action>(ToggleFullScreen)

" HarpoonIJ
"nmap 1 :action GotoHarpoon1<cr>
"nmap 2 :action GotoHarpoon2<cr>
"nmap 3 :action GotoHarpoon3<cr>
"nmap 4 :action GotoHarpoon4<cr>
"nmap 5 :action GotoHarpoon5<cr>
"nmap 6 :action GotoHarpoon6<cr>
"nmap 7 :action GotoHarpoon7<cr>
"nmap 8 :action GotoHarpoon8<cr>
"nmap 9 :action GotoHarpoon9<cr>
"nmap 0 :action GotoHarpoon0<cr>

"nmap <leader>b :action ShowHarpoon<cr>
"nmap <leader>i :action AddToHarpoon<cr>

" Harpooner
nmap 1 :action HarpoonerOpenFile0<cr>
nmap 2 :action HarpoonerOpenFile1<cr>
nmap 3 :action HarpoonerOpenFile2<cr>
nmap 4 :action HarpoonerOpenFile3<cr>
nmap 5 :action HarpoonerOpenFile4<cr>
nmap 6 :action HarpoonerOpenFile5<cr>
nmap 7 :action HarpoonerOpenFile6<cr>
nmap 8 :action HarpoonerOpenFile7<cr>
nmap 9 :action HarpoonerOpenFile8<cr>
"nmap 0 :action HarpoonerOpenFile9<cr>

nmap 0 :action HarpoonerQuickMenu<cr>
nmap <leader>i :action HarpoonerAddFile<cr>
nmap <leader>n :action HarpoonerNextFileAction<cr>
nmap <leader>e :action HarpoonerPreviousFileAction<cr>

" Find more examples here:
" https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup/
" https://jb.gg/share-ideavimrc
