"" Source your .vimrc
" :source ~/.ideavimrc
"" See all available commands
" :actionlist

""" SETTINGS """
let mapleader = " "

set scrolloff=5
set incsearch
set hlsearch
nnoremap <esc> :noh<return><esc>
set linenumber
set highlightedyank
set showmode
set showcmd
set visualbell
set clipboard+=unnamed
set relativenumber
set number
set ignorecase
set smartcase
set easymotion
set surround
set commentary
set NERDTree
set which-key
set notimeout
set clipboard+=unnamed
set idearefactormode=keep

""" MOVE """
map <C-i> <action>(NextSplitter)
map <C-m> <action>(PrevSplitter)

map <leader>h <action>(Back)
map <leader>l <action>(Forward)
map <leader>j <action>(PreviousTab)
map <leader>k <action>(NextTab)
map H <action>(Back)
map L <action>(Forward)
map J <action>(PreviousTab)
map K <action>(NextTab)

""" FIND """
" Find Everything
map <leader>fe <action>(SearchEverywhere)
" Find Action
map <leader>fa <action>(GotoAction)
" Find Files
map <leader>ff <action>(GotoFile)
" Find Recent Files
map <leader>fr <action>(RecentFiles)

""" SEARCH
" Search Grep
map <leader>sg <action>(FindInPath)
" Search Symbol
map <leader>ss <action>(FileStructurePopup)
" Search/jump in buffer
map s <action>(flash.search)

""" GOTO """
map gh <action>(ShowHoverInfo)
map gd <action>(GotoDeclarationOnly)
map gr <action>(GotoDeclaration)
map gI <action>(GotoImplementation)
map gs <action>(GotoSuperMethod)
map gK <action>(QuickImplementations)
map gb <action>(GotoNextBookmark)
map [d <action>(GotoPreviousError)
map ]d <action>(GotoNextError)

""" GIT """
map <leader>gb <action>(Annotate)

""" TEST """
map <leader>q <action>(GotoTest)

""" CODE """
" Code Action
map <leader>ca <action>(ShowIntentionActions)
" Code CloseEditor
map <leader>ce <action>(Refactorings.QuickListPopupAction)
" Code Format
map <leader>cf <action>(ReformatCode)
" Code Rename
map <leader>cr <action>(RenameElement)

""" DEBUG """
nmap <leader>db <action>(ToggleLineBreakpoint)

""" MISC """
map <leader>bd <action>(CloseEditor)
map <leader>bo <action>(CloseEditorsGroup)

map zc <action>(CollapseRegion)
map zo <action>(ExpandRegion)
map <leader>cm <action>(ShowPopupMenu)

map <leader>e :NERDTreeToggle<CR>

" Special commands for Android Studio
map <leader>p <action>(ShowSettings)
map <leader>a <action>(HideAllWindows)
map <leader>rr <action>(Run)
map <leader>rd <action>(Debug)
map <leader>rs <action>(Stop)

map <leader>wd <action>(ToggleDistractionFreeMode)
map <leader>wz <action>(ToggleZenMode)

"""""""""""""""""""""""""""""""""""""""""""""""""""
""" CLEANUP """

" HarpoonIJ
"nmap 1 :action GotoHarpoon1<cr>
"nmap 2 :action GotoHarpoon2<cr>
"nmap 3 :action GotoHarpoon3<cr>
"nmap 4 :action GotoHarpoon4<cr>
"nmap 5 :action GotoHarpoon5<cr>
"nmap 6 :action GotoHarpoon6<cr>
"nmap 7 :action GotoHarpoon7<cr>
"nmap 8 :action GotoHarpoon8<cr>
"nmap 9 :action GotoHarpoon9<cr>
"nmap 0 :action GotoHarpoon0<cr>

"nmap <leader>b :action ShowHarpoon<cr>
"nmap <leader>i :action AddToHarpoon<cr>

" Harpooner
nmap <C-1> :action HarpoonerOpenFile0<cr>
nmap <C-2> :action HarpoonerOpenFile1<cr>
nmap <C-3> :action HarpoonerOpenFile2<cr>
nmap <C-4> :action HarpoonerOpenFile3<cr>
nmap <C-5> :action HarpoonerOpenFile4<cr>
nmap <C-6> :action HarpoonerOpenFile5<cr>
nmap <C-7> :action HarpoonerOpenFile6<cr>
nmap <C-8> :action HarpoonerOpenFile7<cr>
nmap <C-9> :action HarpoonerOpenFile8<cr>
"nmap 0 :action HarpoonerOpenFile9<cr>

"nmap <leader>b :action HarpoonerQuickMenu<cr>
nmap <leader>i :action HarpoonerAddFile<cr>
nmap <leader>n :action HarpoonerNextFileAction<cr>
"nmap <leader>e :action HarpoonerPreviousFileAction<cr>

" Find more examples here:
" https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup/
" https://jb.gg/share-ideavimrc
