/* Everforest Dark Color Pallete */

@define-color black #272E33;
@define-color red #E67E80;
@define-color green #A7C080;
@define-color yellow #DBBC7F;
@define-color blue #7FBBB3;
@define-color magenta #D699B6;
@define-color cyan #83C092;
@define-color white #D3C6AA;
@define-color bright-black #414B50;
@define-color bright-red #E67E80;
@define-color bright-green #A7C080;
@define-color bright-yellow #DBBC7F;
@define-color bright-blue #7FBBB3;
@define-color bright-magenta #D699B6;
@define-color bright-cyan #83C092;
@define-color bright-white #D3C6AA;


/* Misc Colors */
@define-color empty rgba(0,0,0,0);


/* Define for each module */
@define-color bg @black;
@define-color fg @white;
@define-color workspaces-focused @green;
@define-color mode @cyan;
@define-color mode-fg @bg;
@define-color workspaces-focused-fg @bg;
@define-color pulseaudio @blue;
@define-color network @bright-green;
@define-color cpu @cyan;
@define-color memory @bright-magenta;
@define-color backlight @yellow;
@define-color battery @red;
@define-color clock @bright-blue;
@define-color tray @empty;



* {
    font-family: "Iosevka Nerd Font Mono";
    font-size: 13px;
}

window#waybar {
    background-color: @bg;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar > box {
    padding: 4px;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @fg;
}

#workspaces button {
    padding: 0 0px;
    background-color: transparent;
    color: @fg;
    border-radius: 4px;
}

#workspaces button:hover {
    background: alpha(@bg, 0.5);
}

#workspaces button.focused {
    background-color: @workspaces-focused;
    color: @workspaces-focused-fg;
}

#workspaces button.urgent {
    background-color: @bright-red;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @fg;
    border-radius: 4px;
}


#mode {
    background-color: @mode;
    color: @mode-fg;
    box-shadow: none;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @clock;
    color: @bg;
}

#battery {
    background-color: @battery;
    color: @bg;
}

#battery.charging, #battery.plugged {
    background-color: @battery;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    color: @fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background-color: @cpu;
    color: @bg;
}

#memory {
    background-color: @memory;
    color: @bg;
}


#backlight {
    background-color: @backlight;
    color: @bg;
}

#network {
    background-color: @network;
    color: @bg;
}

#network.disconnected {
    background-color: @red;
}

#pulseaudio {
    background-color: @pulseaudio;
    color: @bg;
}

#pulseaudio.muted {
    background-color: @cyan;
    color: @bg;
}


#tray {
    background-color: @tray;
    color: @bg;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}
